<div class="imomo-scroll-top {{ shop.metafields.mapp_scroll_top.settings.position }}">
    {% assign icon_type = shop.metafields.mapp_scroll_top.settings.icon %}
    {% if icon_type == 1 %}
        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><polygon fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" points="396.6,352 416,331.3 256,160 96,331.3 115.3,352 256,201.5 "></polygon></svg>
    {% elsif icon_type == 2 %}
        <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path><path d="M0 0h48v48h-48z" fill="none"></path></svg>
    {% elsif icon_type == 3 %}
        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" d="M413.1,327.3l-1.8-2.1l-136-156.5c-4.6-5.3-11.5-8.6-19.2-8.6c-7.7,0-14.6,3.4-19.2,8.6L101,324.9l-2.3,2.6  C97,330,96,333,96,336.2c0,8.7,7.4,15.8,16.6,15.8v0h286.8v0c9.2,0,16.6-7.1,16.6-15.8C416,332.9,414.9,329.8,413.1,327.3z"></path></svg>
    {% elsif icon_type == 4 %}
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><polygon fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" points="1 28 16 4 31 28 16 18 1 28"></polygon></svg>
    {% elsif icon_type == 5 %}
        <svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><g fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}"><polygon points="0.046,24.418 2.13,26.502 12.967,15.666 23.803,26.502 25.887,24.418 12.967,11.498  "></polygon><polygon points="0.046,13.418 2.13,15.502 12.967,4.666 23.803,15.502 25.887,13.418 12.967,0.498  "></polygon></g></svg>
    {% elsif icon_type == 6 %}
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g><rect fill="none" height="32" width="32"></rect></g><g id="arrow_x5F_full_x5F_up"><polygon fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" points="2,16 9.999,16 9.999,30 21.999,30 21.999,16 29.999,16 15.999,2  "></polygon></g></svg>
    {% elsif icon_type == 7 %}
        <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><path fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" d="M52,84V21.656l21.457,21.456c1.561,1.562,4.095,1.562,5.656,0.001c1.562-1.562,1.562-4.096,0-5.658L50.829,9.172l0,0  c-0.186-0.186-0.391-0.352-0.609-0.498c-0.101-0.067-0.21-0.114-0.315-0.172c-0.124-0.066-0.242-0.142-0.373-0.195  c-0.135-0.057-0.275-0.089-0.415-0.129c-0.111-0.033-0.216-0.076-0.331-0.099C48.527,8.027,48.264,8,48.001,8l0,0  c-0.003,0-0.006,0.001-0.009,0.001c-0.259,0.001-0.519,0.027-0.774,0.078c-0.12,0.024-0.231,0.069-0.349,0.104  c-0.133,0.039-0.268,0.069-0.397,0.123c-0.139,0.058-0.265,0.136-0.396,0.208c-0.098,0.054-0.198,0.097-0.292,0.159  c-0.221,0.146-0.427,0.314-0.614,0.501L16.889,37.456c-1.562,1.562-1.562,4.095-0.001,5.657c1.562,1.562,4.094,1.562,5.658,0  L44,21.657V84c0,2.209,1.791,4,4,4S52,86.209,52,84z"></path></svg>
    {% elsif icon_type == 8 %}
        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" d="M128.4,189.3L233.4,89c5.8-6,13.7-9,22.4-9c8.7,0,16.5,3,22.4,9l105.4,100.3c12.5,11.9,12.5,31.3,0,43.2  c-12.5,11.9-32.7,11.9-45.2,0L288,184.4v217c0,16.9-14.3,30.6-32,30.6c-17.7,0-32-13.7-32-30.6v-217l-50.4,48.2  c-12.5,11.9-32.7,11.9-45.2,0C115.9,220.6,115.9,201.3,128.4,189.3z"></path></svg>
    {% elsif icon_type == 9 %}
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="{{ shop.metafields.mapp_scroll_top.settings.icon_color }}" d="M12,3.172L5.586,9.586c-0.781,0.781-0.781,2.047,0,2.828s2.047,0.781,2.828,0L10,10.828v7.242c0,1.104,0.895,2,2,2  c1.104,0,2-0.896,2-2v-7.242l1.586,1.586C15.977,12.805,16.488,13,17,13s1.023-0.195,1.414-0.586c0.781-0.781,0.781-2.047,0-2.828  L12,3.172z"></path></svg>
    {% endif %}
</div>
<style>
.imomo-scroll-top {
    background-color: {{ shop.metafields.mapp_scroll_top.settings.background }}!important;
}
</style>
{% schema %}
{
  "name": "IMOMO Scroll To Top",
  "target": "body",
  "stylesheet": "app.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}
